{% extends 'core/base.html' %}

{% block title %}
    <title> Edit Item</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Item</h2>
    <form action="{% url 'edit' item.id %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-select" id="category" name="category">
                {% for category in categories %}
                <option value="{{ category.name }}" {% if category.name == item.category.name %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{item.name}}" required> 
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required> {{item.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" value="{{item.price}}" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="current-image">Current Image</label><br>
            <img src="{{ item.image.url }}" alt="Current Image" class="img-thumbnail mb-2" style="max-width: 200px;"><br>
            <label for="image">Upload New Image</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="is_sold" {% if item.is_sold %}checked{% endif %}>
            <label class="form-check-label" for="flexCheckDefault">
                is_sold
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Edit Item</button>
    </form>
</div>
{% endblock content%}

